/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
    max-width:512px;
    max-height:512px;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size:0.8em;
    text-transform:uppercase;
    text-align:center;
    color:#545352;
}

.link {
  color:#cc00ff !important;
  text-decoration: none;
}

/*//* FIXES FOR MOBILE */
@media only screen and (max-width: 600px) {
    .logo {
        width:50vw;
        height:auto;
        max-width:1024px
    }
}

/*//* Bitrate Calculator Styles */
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:16px;
}
.submit_btn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  line-height: 16px !important;
  cursor: pointer;
}
.reset_btn {
  width: 100%;
  background-color: #f32f2f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  line-height: 16px !important;
  cursor: pointer;
}
.subtitle_bit {
    font-family: 'Open Sans', sans-serif;
    font-size:1.3em;
    text-align:center;
    color:#545352;
}
